<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_main') }}"
                       title="Go back to homepage">
                        Accueil
                    </a>
                </li>


                {% if is_granted('IS_AUTHENTICATED') %}


                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}"
                               title="Go back to disconnect">
                                Se déconnecter
                            </a>
                        </li>


                        {% if is_granted('ROLE_USER') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_sortie_index') }}"
                                   title="Go back to about">
                                    Sorties
                                </a>
                            </li>
                        {% endif %}


                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_profil') }}"
                               title="Go back to about">
                                Profil
                            </a>
                        </li>


                        {% if is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('app_admin_liste') }}"
                                   title="Go back to liste user ">
                                    Liste utilisateurs
                                </a>
                            </li>
                        {% endif %}

                {% else %}

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"
                           title="Go back to log">
                            Se connecter
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}"
                           title="Go back to log">
                            S'inscrire
                        </a>
                    </li>

                {% endif %}

                {#                {% if is_granted('IS_AUTHENTICATED') %}#}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="{{ path('app_list') }}"#}
                {#                           title="Go back to liste">#}
                {#                            Liste#}
                {#                        </a>#}
                {#                    </li>#}
                {#                {% endif %}#}

                {#                {% if is_granted('IS_AUTHENTICATED') %}#}
                {#                    <li class="nav-item">#}
                {#                        <a class="nav-link" href="{{ path('app_add_yours') }}"#}
                {#                           title="Go back to souhait">#}
                {#                            Add_yours#}
                {#                        </a>#}
                {#                    </li>#}
                {#                {% endif %}#}








            </ul>
        </div>
    </div>
</nav>
