{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs {% endblock %}

{% block body %}
    <h1>Profil des utilisateurs :</h1>

    <table class="table">
        <thead>
        <tr>
            <th class="d-none d-md-table-cell ">Id</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th class="d-none d-md-table-cell ">Role</th>
            <th class="d-none d-sd-table-cell ">Password</th>
            <th>Actions</th>

        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td class="d-none d-md-table-cell ">{{ user.id }}</td>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.email }}</td>
                <td class="d-none d-md-table-cell ">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td class="d-none d-sd-table-cell ">{{ user.password }}</td>
                <td>
                    <a href="{{ path('app_admin_show', {'id': user.id}) }}">voir en détail</a>
{#                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>#}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun utilisateur trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a href="{{ path('app_admin_create') }}" class="btn btn-success">Enregistrer un nouvel utilisateur</a>
    <a href="{{ path('app_csv_import') }}" class="btn btn-success">Fichier</a>

{#    <a href="{{ path('app_admin_new') }}">Créer un nouvel utilisateur</a>#}

{% endblock %}