{% extends 'base.html.twig' %}

{% block title %}Profil utilisateur {% endblock %}

{% block body %}
    <h1>Profil de l'utilisateur</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ user.prenom }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>Roles</th>
            <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
        </tr>
        <tr>
            <th>Actif</th>
            <td>{{ user.isActif }}</td>
        </tr>
{#        <tr>#}
{#            <th>Password</th>#}
{#            <td>{{ user.password }}</td>#}
{#        </tr>#}
{#        <tr>#}
{#            <th>Pseudo</th>#}
{#            <td>{{ user.pseudo }}</td>#}
{#        </tr>#}
        </tbody>
    </table>

    <a href="{{ path('app_admin_liste') }}">retour à la liste</a>

    <a href="{{ path('app_admin_edit', {'id': user.id}) }}">éditer</a>

    <a href="{{ path('app_admin_delete', {'id': user.id}) }}">supprimer</a>

{% endblock %}