{{ form_start(form) }}
<div class="form_wish">
    <div class="col">
        {{ form_row(form.site) }}
    </div>
    <div class="col">
{{ form_row(form.dateDebut) }}
</div>
<div class="col">
{{ form_row(form.dateFin) }}
</div>
<button class="btn">{{ button_label|default('Rechercher') }}</button>
</div>
{{ form_end(form) }}
