<form method="post">



    {{ form_start(form) }}

    {% for error in errors %}
        <div class="alert alert-danger">{{ error.message }}</div>
    {% endfor %}
    <div class="mb-3">
        <label for="inputNom" class="form-label">Nom de la sortie</label>
        {{ form_widget(form.nom) }}
        {{ form_errors(form.nom) }}
    </div>

    <div class="mb-3">
        <label for="DateHeureSortie" class="form-label">Date et heure de la sortie :</label>
        {{ form_widget(form.dateHeureDebut) }}
        {{ form_errors(form.dateHeureDebut) }}
    </div>

    <div class="mb-3">
        <label for="DateInscription" class="form-label">Date limite d'inscription : </label>
        {{ form_widget(form.dateLimiteInscription) }}
        {{ form_errors(form.dateLimiteInscription) }}
    </div>

    <div class="mb-3">
        <label for="nbPlaces" class="form-label">Nombre de places</label>
        {{ form_widget(form.nbInscriptionsMax) }}
        {{ form_errors(form.nbInscriptionsMax) }}
    </div>

    <div class="mb-3">
        <label for="duree" class="form-label">Durée : </label>
        {{ form_widget(form.duree) }}
        {{ form_errors(form.duree) }}
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Description et infos : </label>
        {{ form_widget(form.infosSortie) }}
    </div>

    <div class="mb-3">
        <label for="Etat" class="form-label">Etat : </label>
        {{ form_widget(form.etat) }}
    </div>

    <div class="mb-3">
        <label for="Lieu" class="form-label">Lieu : </label>
        {{ form_widget(form.lieu) }}
    </div>

    <a href="{{path('app_lieu')}}" id='Adresse' type="button" class="btn btn-lg btn-secondary">Créer Lieu</a>
    <button type="submit" class="btn btn-lg btn-primary">S'enregistrer</button>
    {{ form_end(form) }}





</form>