{{ form_start(form) }}
<div class="form">
    <div>
        <div class="col">
            {{ form_row(form.site) }}
        </div>
        <div class="col">
            {{ form_row(form.contains) }}
        </div>
        <div class="col">
            {{ form_row(form.dateDebut) }}
        </div>
        <div class="col">
            {{ form_row(form.dateFin) }}
        </div>
        </div>
    <div>
        {{ form_row(form.filtre) }}
    </div>

    <button class="btn btn-secondary">{{ button_label|default('Rechercher') }}</button>
</div>
{{ form_end(form) }}
