{% extends 'base.html.twig' %}

{% block title %}Sortie index{% endblock %}
{% block presentation %}
    <div class="d-flex align-items-center justify-content-end">
        Nous sommes le {{ 'now'|date('d/m/Y') }} <br>
        Vous êtes connectés en tant que {{ app.user.pseudo }}
    </div>
{% endblock %}
{% block body %}
    <h1>Sortie index</h1>

    {{ include('sortie/_formFiltre.html.twig') }}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>DateHeureDebut</th>
                <th>Duree</th>
                <th>DateLimiteInscription</th>
                <th>NbInscriptionsMax</th>
                <th>InfosSortie</th>
                <th>Organisateur</th>
                <th>Etat</th>
                <th>Villes</th>
{#                <th>Participants</th>#}
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.id }}</td>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.duree }}</td>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('Y-m-d') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.infosSortie }}</td>
                <td><a href=" {{ path('app_user',{id:sortie.organisateur.id}) }}">{{ sortie.organisateur.nom }}</a></td>
                <td>{{ sortie.etat }}</td>
                <td>{{ sortie.lieu.ville.nom }}</td>

{#                <td>#}
{#                    {% for user in sortie.participants %}#}
{#                        <li><a href=" {{ path('app_user',{id:user.id}) }}">{{ user.nom }}</a></li>#}
{#                    {% endfor %}#}
{#                </td>#}
                <td>
                    <a href="{{ path('app_sortie_show', {'id': sortie.id}) }}">show</a>


                    {%  if is_granted('ROLE_ADMIN') or app.user == sortie.organisateur %}
                        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}">edit</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_sortie_new') }}">Create new</a>
{% endblock %}
