{% extends 'base.html.twig' %}




{% block title %}Sortie{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>

    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    {% block importmap %}
        {{ importmap('app') }}
    {% endblock %}


{% endblock %}

{#{% block stylesheets %}#}
{#    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"#}
{#          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="#}
{#          crossorigin=""/>#}
{#    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">#}
{#    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"#}
{#    rel="stylesheet" integrity="sha384-#}
{#    9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"#}
{#    crossorigin="anonymous">#}

{#{% endblock %}#}



{% block body %}
    <h1>Sortie</h1>



    <input type="hidden" id="latitude" value="{{ sortie.lieu.latitude }}">
    <input type="hidden" id="longitude" value="{{ sortie.lieu.longitude }}">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>DateHeureDebut</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>DateLimiteInscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>NbInscriptionsMax</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>InfosSortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ sortie.organisateur.nom }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ sortie.etat }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ sortie.motif }}</td>
            </tr>
        </tbody>
    </table>

    <div class="container">
        <table class="table">
            <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.lieu.nom }}</td>
            </tr>
            <tr>
                <th>Adresse :</th>
                <td>{{ sortie.lieu.rue }}</td>
                <td>{{ ville }}</td>
            </tr>
        </table>

        <div id="map"></div>
    </div>




    <div>
        <h2> Participants :</h2>
        <ul>
            {% for participant in sortie.participants %}
                <li><a href="{{ path('app_user',{id:participant.id}) }}">{{ participant.pseudo }} : {{ participant.nom }}</a></li>
            {% else %}
                <li>Pas de participant actuellement</li>
            {% endfor %}
        </ul>
    </div>






    <a href="{{ path('app_sortie_index') }}" class="btn btn-primary">retour à la liste des sorties</a>

    {%  if is_granted('ROLE_ADMIN') or app.user == sortie.organisateur %}
        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="btn btn-info">editer une sortie</a>
        <a href="{{ path('app_sortie_annuler', {'id': sortie.id}) }}" class="btn btn-info">annuler la sortie</a>
    {% endif %}



{%  if sortie.etat=='Ouvert' and sortie.getParticipants().count()<sortie.getNbInscriptionsMax() and not sortie.participants.contains(app.user)%}
    <form method="post" action="{{ path('app_sortie_addParticipant', {'id': sortie.id}) }}" onsubmit="return confirm('Etes-vous sûrs de vouloir vous inscrire à cette sortie ?');">
        <button class="btn btn-success">m'inscrire</button>
    </form>
    {% endif %}
{% if sortie.getParticipants().count()>=sortie.getNbInscriptionsMax() %}
    <div class="alert alert-warning" role="alert">
        Le nombre maximum de participants est atteint pour cette sortie.
    </div>
{% endif %}


    {%  if sortie.participants.contains(app.user) %}
        <form method="post" action="{{ path('app_sortie_deleteParticipant', {'id': sortie.id}) }}" onsubmit="return confirm('Etes-vous sûrs de vouloir vous désinscrire à cette sortie ?');">
            <button class="btn btn-danger">me désinscrire</button>
        </form>
    {% endif %}

{#    {%  if is_granted('ROLE_ADMIN') %}#}
{#        {{ include('sortie/_delete_form.html.twig') }}#}
{#    {% endif %}#}



{% endblock %}


