{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <h1>Sortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sortie.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sortie.nom }}</td>
            </tr>
            <tr>
                <th>DateHeureDebut</th>
                <td>{{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d/m/Y H:i') : '' }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ sortie.duree }}</td>
            </tr>
            <tr>
                <th>DateLimiteInscription</th>
                <td>{{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>NbInscriptionsMax</th>
                <td>{{ sortie.nbInscriptionsMax }}</td>
            </tr>
            <tr>
                <th>InfosSortie</th>
                <td>{{ sortie.infosSortie }}</td>
            </tr>
            <tr>
                <th>Organisateur</th>
                <td>{{ sortie.organisateur.nom }}</td>
            </tr>
{#            <tr>#}
{#                <th>Etat</th>#}
{#                <td>{{ sortie.etat }}</td>#}
{#            </tr>#}
        </tbody>
    </table>



    <div>
        <h2> Participants :</h2>
        <ul>
            {% for participant in sortie.participants %}
                <li><a href="{{ path('app_user',{id:participant.id}) }}">{{ participant.pseudo }} : {{ participant.nom }}</a></li>
            {% else %}
                <li>Pas de participant actuellement</li>
            {% endfor %}
        </ul>
    </div>






    <a href="{{ path('app_sortie_index') }}" class="btn btn-primary">retour à la liste des sorties</a>

    {%  if is_granted('ROLE_ADMIN') or app.user == sortie.organisateur %}
        <a href="{{ path('app_sortie_edit', {'id': sortie.id}) }}" class="btn btn-info">editer une sortie</a>
    {% endif %}



{%  if sortie.etat=='Ouvert' and sortie.getParticipants().count()<sortie.getNbInscriptionsMax() and not sortie.participants.contains(app.user)%}
    <form method="post" action="{{ path('app_sortie_addParticipant', {'id': sortie.id}) }}" onsubmit="return confirm('Etes-vous sûrs de vouloir vous inscrire à cette sortie ?');">
        <button class="btn btn-success">m'inscrire</button>
    </form>
    {% endif %}
{% if sortie.getParticipants().count()>=sortie.getNbInscriptionsMax() %}
    <div class="alert alert-warning" role="alert">
        Le nombre maximum de participants est atteint pour cette sortie.
    </div>
{% endif %}


    {%  if is_granted('ROLE_ADMIN') or sortie.participants.contains(app.user) %}
        <form method="post" action="{{ path('app_sortie_deleteParticipant', {'id': sortie.id}) }}" onsubmit="return confirm('Etes-vous sûrs de vouloir vous désinscrire à cette sortie ?');">
            <button class="btn btn-danger">me désinscrire</button>
        </form>
    {% endif %}

    {%  if is_granted('ROLE_ADMIN') or app.user == sortie.organisateur %}
        {{ include('sortie/_delete_form.html.twig') }}
    {% endif %}

{% endblock %}
